@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@source "../node_modules/flowbite-svelte/dist";

@theme {
	--color-gray-100: #f3f4f6;
	--color-gray-200: #e5e7eb;
	--color-gray-300: #d1d5db;
	--color-gray-400: #9ca3af;
	--color-gray-500: #6b7280;
	--color-gray-600: #4b5563;
	--color-gray-700: #374151;
	--color-gray-800: #1f2937;
	--color-gray-900: #111827;
	--color-gray-950: #030712;
	--color-red-300: #fca5a5;
	--color-red-400: #f87171;
	--color-red-500: #ef4444;
	--color-red-600: #dc2626;
	--color-red-700: #b91c1c;
	--color-red-800: #991b1b;
	--color-amber-300: #fcd34d;
	--color-amber-400: #fbbf24;
	--color-slate-500: #64748b;
	--color-slate-700: #334155;
	--color-slate-800: #1e293b;
	--color-stone-300: #d6d3d1;
	--color-emerald-400: #34d399;
}


#nav-content {
    transition: all 0.3s ease;
}

/* Ensure mobile menu appears above content */
@media (max-width: 1023px) {
    #nav-content {
        position: absolute;
        left: 0;
        top: 3em;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 100;
        padding: 20px;
        border-radius: 20px
    }

    #nav-content nav {
        padding-bottom: 20px;
    }
}
