@import 'tailwindcss';
@plugin '@tailwindcss/typography';


#nav-content {
    transition: all 0.3s ease;
}

/* Ensure mobile menu appears above content */
@media (max-width: 1023px) {
    #nav-content {
        position: absolute;
        left: 0;
        top: 3em;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 100;
        padding: 20px;
        border-radius: 20px
    }

    #nav-content nav {
        padding-bottom: 20px;
    }
}
